.project
.classpath
.settings/
bin/
requirements.txt
.vscode
serverlogic/pom.xml
serverlogic/HELP.md
serverlogic/mvnw
serverlogic/mvnw.cmd
serverlogic/.mvn/wrapper/

serverlogic/target/
serverlogic/src/test/
serverlogic/keys/realupass.txt
serverlogic/src/main/resources/
serverlogic/src/main/java/quizserver/serverlogic/MongoConfig.java